.container {
    width: 1480px;
    height: 90%;
    max-height: 1280px;
    flex-shrink: 0;
    margin: 0 auto;
    
}

/* logo site */

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 63px 98px 0;
    width: 1283px;
    height: 189px;
}

.name1 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.name2 {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-logo {
    text-decoration: none;
}

/* header navigation block */

.link-nav {
    text-decoration: none;
    color: #FFF;

}

 .list-nav {
    display: flex;
    padding: 40px 0 0 0;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center; 
    
}

.title-nav {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    
    border-right: 1px solid #FFF;
    width: 1279.999px;
    height: 69px;
     justify-content: center;
     align-items: center;
     background-color: #35444F;

}

.title-nav2 {
    display: flex;
width: 316px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

}

.title-nav3 {
    display: flex;
width: 127px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}

.title-nav4 {
    width: 254px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.title-nav5 {
   
width: 213px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}


.title-nav:hover {
    background-color: #222F3A;
}  



/* aside left menu block */

.main {
    display: flex;
    align-items: flex-start;
}

.aside-block {
    padding: 0;
    margin: 49px 52px 130px 100px;
    border: 1px solid #000;
}

.menu-title {
    text-decoration: none;
    display: flex;
    width: 344px;
    height: 81px;
    line-height: 81px;
    padding-left: 44px;
    box-sizing: border-box;
    color: #495863;
    font-size: 27px;
    font-family: Roboto;
    text-align: center;
    

}

.menu-title:hover {
    color: #000;
    background-color: #DBDBDB;
    padding-left: 78px;

}

/* content div */

.image-logo {
    width: 320px;
    height: 381px;
    padding:75px 268px 73px 293px;
    margin: 49px 0 37px 0;
    border: 1px solid #000;
}

.image-logo:hover {
    transform: scale(1.1);
    transition: 0.30s;
}

.text-content1 {
    width: 885px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text-content2 {
margin: 13px 0 37px;
width: 885px;
color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

/* footer block */

 .footer {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    width: 1280px;
    height: 69px;
    margin: 30px 100px;
    padding:0 20px;
    background: rgba(99, 105, 110, 0.48);
}

 .footer-link {
    text-decoration: none;
    color: #0C1927;
    padding-inline: 20px;

} 

.footer-block {
    display: flex;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.copytext {
    padding-left: 70px;
    color: #010101;
    font-size: 24px;
}

.footer-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}


